[Desktop Entry]
Name=fkgmd
Comment=Fucking Markdown Reader
Exec=/home/gwalters/.local/bin/fkgmd %f
Type=Application
Terminal=false
Categories=Utility;TextTools;
MimeType=text/markdown;
